/* styles.css */


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background: url('background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.left-section, .right-section {
  position: absolute;
  height: 100%;
}

.left-section {
  left: 0;
  width: 50%; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%; /* Padding from the left side */
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0); /* Transparent background */
  transition: background-color 0.3s, color 0.3s;
}

.left-section:hover {
  background-color: #0056b3; /* This is the dark blue color on the right side of the gradient */
}

.title h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
  text-align: right;
 padding: 0px 50px;
  color: #0047AB; /* The blue color from the left side of the gradient */
  transition: color 0.3s;
}

.title h2 {
  font-size: 4rem;
  font-weight: 350;
  margin: 0;
  text-align: right;
 padding: 0px 50px;
  color: #0047AB; /* The blue color from the left side of the gradient */
  transition: color 0.3s;
}

.left-section:hover .title h1 {
  color: white;
}

.right-section {
  right: 0;
  width: 50%; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%; /* Padding from the right side */
  box-sizing: border-box;
}

.subtext {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
 padding: 0px 0px 0px 50px;
  margin-top: 5rem; /* Position subtext below the STUMA text */
  color: #0047AB; /* The blue color from the left side of the gradient */
}

 