/* Sidebar styles */
.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

/* Main content styles */
.main-content {
    margin-left: 200px; /* Width of the sidebar */
    padding: 20px;
    margin-top: 20px; /* Adjust as needed to leave space below the top bar */
}

.welcome-frame {
    background-color: #f0f0f0; /* Light grey background */
    border: none; /* Remove border */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-details {
    margin-top: 20px;
    text-align: left; /* Align text to left */
}

.profile-details p {
    margin: 5px 0;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.subject-card {
    background-color: #ffffff; /* White background */
    border: 2px solid #808080; /* Grey border */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.subject-card a {
    color: #000000; /* Dark blue text */
    text-decoration: none;
}

.subject-card button {
    background-color: #1e79e0; /* Dark blue background for button */
    color: #ffffff; /* White text for button */
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
}

.subject-card button:hover {
    background-color: #1e79e0; /* Dark blue hover color */
}

/* Existing CSS styles */

.subject-item {
    display: flex;
    justify-content: space-between; /* Align items to the start and end of the container */
    align-items: center;
}

.subject-item p {
    margin: 0;
}

.delete-form {
    margin-left: 10px; /* Add some space between subject name and delete button */
}

/* Update the CSS for subject name input box and create subject button */

#subjectName {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%; /* Adjust the width as needed */
}

#subjectName:focus {
    outline: none;
    border-color: #1e79e0; /* Change border color on focus */
}

#createSubjectBtn {
    padding: 10px 20px;
    margin: 5px;
    background-color: #1e79e0;
    color: #1e79e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#createSubjectBtn:hover {
    background-color: #12569b; /* Darker shade on hover */
}