

body, html {
  margin: 0;
  padding: 0;
  background: #e5e5e5; 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

.login-container {
  max-width: 400px; 
  margin: 100px auto; 
  padding: 40px; 
  text-align: center;
  background: #ffffff; 
  box-shadow: 0 8px 16px rgba(0,0,0,0.1); 
  border-radius: 8px; 
}

.login-container h1 {
  color: #202020; 
  font-size: 2rem; 
  margin-bottom: 5px; 
}

.login-container p {
  color: #606060; 
  margin-bottom: 30px; 
}

.login-box {
  background: #ffffff;
  padding: 20px;
  margin-top: 20px;
}

.input-box {
  margin: 20px 0;
  position: relative; 
}

.input-box input {
  width: calc(100% - 30px); 
  padding: 15px;
  border: 2px solid #d9d9d9; 
  border-radius: 20px; 
  font-size: 1rem; 
  box-sizing: border-box; 
}

.input-box input:focus {
  outline: none; 
  border-color: #2964e4; 
}

.login-btn {
  width: calc(100% - 30px); 
  padding: 15px;
  background-color: #2964e4;
  color: white;
  border: none;
  border-radius: 20px; 
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s; 
  font-size: 1rem; 
}

.login-btn:hover {
  background-color: #1d56c2; 
}

.information-box {
  background: #ffffff; 
  margin-top: 40px; 
  padding: 20px;
  font-size: 0.9em;
  border-left: 4px solid #2964e4; 
  text-align: left;
}

footer {
  margin-top: 40px;
  font-size: 0.8em;
  color: #707070; 
}

footer a {
  color: #2964e4;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline; 
}


@media (max-width: 768px) {
  .login-container {
    margin: 20px; 
    padding: 20px; 
  }
}







