

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
  </head>
  <body>
    <div class="login-container">
      <h1> STUMA </h1>
      <p>Please enter your username and password to login.</p>
        {{#if message}}
            <p id="errorMessage">{{message}}</p>
        {{/if}}
      <div class="login-box">
        <form action="/login" method="post">
          <div class="input-box">
            <input type="text" name="username" placeholder="Username" required>
          </div>
          <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
          </div>
          <button type="submit" class="login-btn">Sign in</button>
        </form>
      </div>

      <footer>
        <p>Site course catalog | Clean stuma cookies</p>
        <p>Copyright © 2024 stuma - All rights reserved</p>
        <a href="#">English (US)</a>
      </footer>
    </div>
    <script src="JS/script.js"></script>
  </body>
</html>

  </body>


</html>
