<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Description - Mathematics</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="CSS/student.css" />
</head>
<body>
    <div class="wrapper">
        {{> sidebar coursesText="My Courses" scheduleText="" examsText=""}}
        <div class="main-content">
            {{> header greeting="Student Portal" searchAction="#" searchPlaceholder="Search" profileImage="https://via.placeholder.com/150" userName=""}}
            <!-- other content specific to this page -->
        </div>
    </div>
</body>
</html>
