<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Description - Mathematics</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="CSS/student.css" />
    <script src="../page.js"></script> 
</head>
<body>
    <div class="wrapper">
        
        <nav class="sidebar">
            <div class="logo">STUMA</div>
            <ul class="menu-items">
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="students.html">Students</a></li>
               
            </ul>
            <div class="logout-section">
    <a href="/logout" class="logout-button">Logout</a>
</div>
        </nav>

      
        <div class="main-content">
            
            <header class="top-nav">
                <span class="portal-text">Student Portal</span>
            </header>
               <div class="search-bar">
                    <input type="text" placeholder="Search">
                    <button>🔍</button>
                </div>
            
            <section class="enrolled-courses">
                <h2>Enrolled Courses</h2>
                <ul>
                  
                    <li>Electrical Engineering 1</li>
                    <li>Software Construction II</li>
                    
                </ul>
            </section>

           
            <section class="available-courses">
                <h2>Available Courses</h2>
                <ul>
                   
                    <li>
                        <span>Electronics</span>
                        <button class="enroll-btn">Enroll</button>
                    </li>
                    <li>
                        <span>Software Engineering</span>
                        <button class="enroll-btn">Enroll</button>
                    </li>
                    <li>
                        <span>Electronics II</span>
                        <button class="enroll-btn">Enroll</button>
                    </li>
                    <li>
                        <span>Alogirthms and Data Structures</span>
                        <button class="enroll-btn">Enroll</button>
                    </li>
                    
                </ul>
            </section>
        </div>
    </div>
</body>
</html>