<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="CSS/professor.css" />
</head>

<body>
    <div class="wrapper">
        {{> sidebar dashboardLink="#" coursesText="Class Schedule" scheduleText="Setting" examsText=""}}
        <div class="main-content">
            <!-- other content specific to this page -->

            <!-- subjects List -->
            <section class="subjects-list">
                <h2>Search Results</h2>
                {{#each subjects}}
                <div class="subject-card">

                    <a href="/subject/{{this.subject_id}}">
                        <span>{{this.name}}</span>
                    </a>
                    <!-- delete  -->
                    <form action="welcome/{{professor_id}}/deleteSubject/{{this.subject_id}}" method="POST">
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                </div>
                {{/each}}
            </section>
        </div>
    </div>
</body>

</html>